<ion-toolbar color="dark">
  <ion-title>Interfaz / QR</ion-title>
</ion-toolbar>

<ion-content>

  <div class="logo">
    <img class="img-logo-center" src="../../assets/images/mabe-logo-white.png" alt="">
  </div>
  <ion-card class="bg-white m-center-card">
    <ion-card-header class="header-m">
      <ion-card-title class="space-title">CODIGO QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="center">
        <img class="qrImage" src="../../assets/images/qr-code.svg" alt="">
       </div>
      <ion-button class="button-c" (click)="scan()">Escanear QR</ion-button>
      <ion-button class="button-c-10" (click)="fastScan()">Escaneo Simultáneo</ion-button>
  
    </ion-card-content> 
    <!--<div> <h3 class="second-text-c">Ultimo Usuario: <span class="black-span-c-found">{{user.code}}</span></h3></div>-->
  </ion-card>

</ion-content>
