<ion-toolbar color="dark">
  <ion-title>Interfaz / QR</ion-title>
  <ion-buttons slot="start" (click)="backButton()">
    <ion-back-button default-href="/select-qr"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>

<ion-content>

  <div class="logo">
    <img class="img-logo-center" src="../../assets/images/mabe-logo-white.png" alt="">
  </div>
  <ion-card class="bg-white m-center-card">
    <ion-card-header class="header-m">
      <ion-card-title class="space-title">SELECCIONA UNA Opción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="button-c" (click)="checkIn()">Entrada</ion-button>
      <ion-button class="button-c" (click)="checkOut()">Salida</ion-button>
      <ion-button class="button-c" (click)="breakOut()">Inicio Descanso</ion-button>
      <ion-button class="button-c" (click)="breakIn()">Fin Descanso</ion-button>
  
    </ion-card-content> 
    <!--<div> <h3 class="second-text-c">Ultimo Usuario: <span class="black-span-c-found">{{user.code}}</span></h3></div>-->
  </ion-card>

</ion-content>
